<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script defer src="/scripts/index.js"></script> -->
</head>

<nav>
  <a href="/" class="story-creator">Story Creator</a>
    <% if (!userData || Object.keys(userData).length === 0) { %>
      <div class="register-login">
      <a href="/users/register" class="register-username">Register</a>
      <a href="/users/login">Log In</a>
    </div>
      <% } else { %>
        <div class="name-logout">
        <a href="#" class="register-username"><%= userData.name %></a>
        <a href="#" id="logout">Log Out</a>
      </div>
    <% } %>
</nav>

<!-- Click handler on the Log Out link -->
<script>
  $(document).ready(function() {
    $('#logout').click(function(e) {
      e.preventDefault();

      // Make a POST request to /logout
      $.ajax({
        type: 'POST',
        url: '/api/users/logout',
        // Handle the success response if needed
        success: function(data) {
          console.log('Logout successful');

          // Redirect the user to the home page
          window.location.href = '/';
        },
        error: function(error) {
          // Handle the error response if needed
          console.error('Logout failed', error);
        }
      });
    });
  });
</script>
