<nav>
  <h3>Story Creator</h3>
    <% if (!userId) { %>
    <a href="/users/register"><p>Register</p></a>
    <a href="/users/login"><p>Log In</p></a>
    <% } else { %>
    <a href="#"><p><%= name %></p></a>
    <a href="#"><p>Log Out</p></a>
    <% } %>
</nav>
