$font-stack: 'Libre Baskerville', serif;
$primary-colour: #252525;
$background-colour: #FBFBFB;

$font-size-header: 26px;
$font-size-subheader: 18px;
$font-size-body: 14px;

$font-weight-bold: 700;
$font-weight-regular: 400;

body {
  font: 100% $font-stack;
  color: $primary-colour;
  background-color: $background-colour;

  $a-tags: 'a, a:active, a:hover, a:visited';
  $a-tags-hover: 'a:active, a:hover';

  #{$a-tags} {
    color: $primary-colour;
    text-decoration: none;
  }

  #{$a-tags-hover} {
    color: $primary-colour;
    text-decoration: underline;
  }

  h1 {
    font-size: $font-size-header;
    font-style: normal;
    font-weight: $font-weight-bold;
    line-height: normal;
  }

  p {
    font-size: $font-size-body;
    font-style: normal;
    font-weight: $font-weight-regular;
    line-height: normal;
  }
}
