// See: https://sass-lang.com/

$font-stack: 'Libre Baskerville', serif;
$primary-colour: #252525;
$background-colour: #FBFBFB;

body {
  font: 100% $font-stack;
  color: $primary-colour;
  background-color: $background-colour;

  $a-tags: 'a, a:active, a:hover, a:visited';
  $a-tags-hover: 'a:active, a:hover';

  #{$a-tags} {
    color: $primary-colour;
    text-decoration: none;
  }

  #{$a-tags-hover} {
    color: $primary-colour;
  }

  h1 {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  p {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}