$primary-colour: #252525;
$background-colour: #FBFBFB;
$nav-bar-height: 62px;

body {
  margin: 0;
  display: flex;
  justify-content: center;

  main {
    padding-top: $nav-bar-height;
    display: flex;
    flex-direction: column;
    width: 90%;

    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    h1 {
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      margin-top: 10px;
      margin-bottom: 5px;
    }

    h2 {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    p {
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    section {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;

      .browse-stories{
        margin-top: 37px;
      }

      .new-story-button {
        margin-top: 37px;
        height: 56px;
        width: 255px;
        background-color: $primary-colour;
        color: $background-colour;
        border: none;

        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .story-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .story-overview {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: baseline;
          border-bottom: solid;
          border-color: $primary-colour;
          margin-bottom: 5px;

          .contribute-status {
            width: 95%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            button{
              padding: 5px;
            }

            button {
              background-color: $primary-colour;
              color: $background-colour;
              border: none;
            }
          }

          .story-overview-preview {
            text-align: center;
          }
        }
      }
    }
  }
}