$primary-colour: #252525;
$background-colour: #FBFBFB;

body {
  margin: 0;
  display: flex;
  justify-content: center;

  main {
    padding-top: $nav-bar-height;
    display: flex;
    flex-direction: column;
    width: 100%;

    section {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;

      .new-story-button {
        margin-top: 37px;
        height: 56px;
        width: 255px;
        background-color: $primary-colour;
        color: $background-colour;
        border: none;
      }

      .story-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .story-overview {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: solid;
          border-color: $primary-colour;
          margin-bottom: 5px;

          .story-overview-preview {
            text-align: center;
          }
        }
      }
    }
  }
}