$primary-colour: #252525;
$background-colour: #FBFBFB;
$textbox-colour: #E6E6E6;

$nav-bar-height: 62px;
$margin-top-first: 50px;

$font-size-header: 26px;
$font-size-subheader: 18px;
$font-size-body: 14px;

$font-weight-bold: 700;
$font-weight-regular: 400;

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: $nav-bar-height;
  width: 85%;

  h1 {
    margin: $margin-top-first 0 20px 0;
  }

  form {
    width: 100%;

    .text-areas {
      display: flex;
      align-items: center;
      justify-content: center;
      resize: none;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: $textbox-colour;
      border: none;
      padding: 8px;
      font-size: $font-size-body;
    }

    div {
      display: flex;
      justify-content: right;
      margin-top: 20px;

      input {
        background-color: $primary-colour;
        color: $background-colour;
        border: none;
        margin-left: 5px;
        padding: 8px;
        font-size: $font-size-body;
        cursor: pointer;
      }
    }
  }
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  body {
    main {
      width: 40%;
    }
  }
}
