$primary-colour: #252525;
$background-colour: #FBFBFB;
$textbox-colour: #E6E6E6;

$nav-bar-height: 62px;
$margin-top-first: 50px;

$font-size-header: 26px;
$font-size-subheader: 18px;
$font-size-body: 14px;

$font-weight-bold: 700;
$font-weight-regular: 400;

body {
  display: flex;
  justify-content: center;
}

main {
  padding-top: $nav-bar-height;
  width: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .story-overview {
    margin-top: $margin-top-first;
    margin-bottom: 50px;
  }

  .story-title {
    margin-bottom: 40px;
  }

  .story-author {
    font-size: $font-size-body;
    font-style: normal;
    font-weight: $font-weight-regular;
    font-style: italic;
    line-height: normal;
  }

  h1 {
    font-size: $font-size-header;
    font-style: normal;
    font-weight: $font-weight-bold;
    line-height: normal;
  }

  h2 {
    font-size: $font-size-subheader;
  }

  p {
    margin: 14px 0;
  }

  .complete-status {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .complete-button {
      a {
        text-decoration: none;

        p {
          padding: 8px;
          color: $background-colour;
          background-color: $primary-colour;
          margin: 0px;
        }

        p:hover {
          background-color: $background-colour;
          border: 1px solid $primary-colour;
          color: $primary-colour;
        }
      }

    }
  }

  .contributions-title {
    margin: 0 0 20px 0;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .new-contribution {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      textarea {
        display: flex;
        border: none;

        resize: none;
        margin: 0 0 20px 0;
        background-color: $textbox-colour;

        font-size: $font-size-body;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px;

        width: 100%;
      }

      textarea:focus {
        outline: none;
      }

      div {
        display: flex;
        justify-content: right;
        width: 100%;

      }

      button {
        padding: 8px;
        box-sizing: content-box;
        color: $background-colour;
        background-color: $primary-colour;
        border: none;
        cursor: pointer;
      }

      button:hover {
        background-color: $background-colour;
        border: 1px solid $primary-colour;
        color: $primary-colour;
      }
    }
  }

  .contributions {
    width: 100%;
    margin: 50px 0;

    .contributions-title {
      margin-bottom: 40px;
      text-align: center;
    }

    .contribution {
      margin-bottom: 40px;

      .like-button-count {
        display: flex;
      }

      .contribution-body {
        font-size: $font-size-body;
        font-style: normal;
        font-weight: $font-weight-regular;
        line-height: normal;
      }

      .contribution-author {
        font-size: $font-size-subheader;
        font-style: normal;
        font-weight: $font-weight-bold;
        line-height: normal;
      }

      .contribution-accepted {
        font-size: $font-size-body;
        font-style: normal;
        font-weight: $font-weight-regular;
        line-height: normal;
        color: $background-colour;
      }

      .contribution-accept {
        font-size: $font-size-body;
        font-style: normal;
        font-weight: $font-weight-regular;
        line-height: normal;
        padding: 8px;


        background-color: $primary-colour;
        color: $background-colour;
        border: none;
      }

      .contribution-like {
        font-size: $font-size-body;
        font-style: normal;
        font-weight: $font-weight-regular;
        line-height: normal;
        padding: 8px;

        background-color: $primary-colour;
        color: $background-colour;
        border: none;
      }

      .contribution-like:hover,
      .contribution-accept:hover {
        background-color: $background-colour;
        color: $primary-colour;
        border: 1px solid $primary-colour;
      }

      .contribution-votes {
        font-size: $font-size-body;
        font-style: normal;
        font-weight: $font-weight-regular;
        line-height: normal;
        margin-left: 10px;
      }

      .contribution-footer {
        display: flex;
        justify-content: space-between;
        align-items: row;
        border-bottom: 1px solid $primary-colour;

        .like-button-count {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }

}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  body {
    main {
      width: 60%;
    }
  }
}
